.swiper {
  width: 100%;
}

.banner-bg {
  background-image: linear-gradient(
    to bottom,
    rgba(9, 32, 210, 0.744),
    rgba(28, 208, 58, 0.3)
  );
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
