.blogsBtn {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: white;
    font-size: 18px;
    border-radius: 0.5em;
    background: #090909;
    border: 1px solid #e8e8e8;
  
              
  }
  @media screen and (max-width: 350px) {
    .blogsBtn{
      padding: .2em ,6em;
    }
  }
  
  .blogsBtn:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  .blogsBtn:hover{
    background-color: #2563EB;
  }
  