.d-input{
  
  padding: 2px 10px !important;
  
  height: 40px !important;
}
.card-bg{
 background: rgb(18,14,80);
background: linear-gradient(90deg, rgba(18,14,80,0.9023984593837535) 5%, rgba(2,0,36,0.969625350140056) 100%);
color: white;
}