
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
/* 
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
