@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  overflow-x: hidden;
}
.spinner {
  top: 0 !important;
}
.active {
  color: rgb(27, 132, 202);
}

/* Light Mode */
.lightText {
  color: white !important;
}

/* Dark Mode */
.dark-mode {
  --bg-color: #101e41 !important;
  --text-color: white;
}
.dark-mode .changebg {
  background-color: #101e41 !important;
}
.dark-mode .cardbg {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.dark-mode .darkText {
  color: white !important;
}
.dark-mode .design-bgcloor {
  color: #101e41;
}

.dark-mode .banner-bg {
  background-image: linear-gradient(to bottom, #101e41, rgba(28, 208, 58, 0.3));
  color: white !important;
}

.dark-mode .gradinentBg {
  background-image: linear-gradient(to bottom, #101e41, rgba(28, 208, 58, 0.3));
}

.dark-mode .changebg button {
  box-shadow: 0 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.2s, color 0.2s;
}
